/* themes.css - Light and dark theme variables */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --accent-color: #f0f0f0; /* Light gray for navbar */
    --link-color: #000000; /* Black for links on light background */
    --bg-image: url('../assets/background.jpg');
}

.dark-theme {
    --bg-color: #333333;
    --text-color: #ffffff;
    --accent-color: #555555; /* Medium gray for navbar */
    --link-color: #ffffff; /* White for links on dark background */
    --bg-image: url('../assets/background.jpg');
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    background-image: var(--bg-image);
}
a
.navbar {
    background-color: var(--accent-color);
}

.nav-links a {
    color: var(--link-color) !important; /* Force the color of links */

}